---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <Header />
    <section class="md:px-10 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
      <div class="max-w-[1280px] mx-auto">
        <h1>Blog Posts</h1>
        <p class="mb-10">Welcome. Here you'll find a collection of thoughts, strategies, and insights on modern tech leadership. These posts are designed to help you solve challenges, grow your skills, and guide your teams with clarity and confidence.</p>
      </div>
    </section>
    <main class="max-w-[1280px] p-5 my-8 ">
      <section class="m-0 p-0">
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] list-none m-0 p-0 md:gap-10 ">
          {
            posts.map((post) => (
              <li class="relative rounded-lg hover:shadow-md border p-5 hover:shadow-gray-300 transition-shadow duration-300 ease-in-out">

                {post.data.heroImage && (      
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                    class="mb-3 rounded-lg"
                    loading="lazy"
                  />
                )}

                <a href={`/blog/${post.id}/`} class="block hover:text-[var(--accent)]">
                  <h2 class="m-0 text-[rgb(var(--black))] text-2xl mb-3">
                  {post.data.title}
                  </h2>
                  <span class="absolute inset-0" aria-hidden="true"></span>
                </a>
                <p class="mt-2 font-light text-[0.8em]">{post.data.description}</p>
                <p class="m-0 text-[rgb(var(--gray))] font-light text-sm">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
