---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
        <head>
                <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        </head>
        <body>
                <Header />
                <main class="max-w-[1280px]">
                        <h1>Blog Posts</h1>
                        <p class="mb-10">Welcome. Here you'll find a collection of thoughts, strategies, and insights on modern tech leadership. These posts are designed to help you solve challenges, grow your skills, and guide your teams with clarity and confidence.</p>
                        <section>
                                <ul class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] list-none m-0 p-5 gap-10">

                                        {
                                                posts.map((post) => (
                                                        <li class="">
                                                                

                                                                        {post.data.heroImage && (
                                                                                <a href={`/blog/${post.id}/`} class="block mb-2 hover:shadow-[var(--box-shadow)]">
                                                                                <Image
                                                                                        width={720}
                                                                                        height={360}
                                                                                        src={post.data.heroImage}
                                                                                        alt=""
                                                                                        class="mb-2 rounded-lg w-full border border-solid border-gray-100 hover:shadow-[var(--box-shadow)]"
                                                                                        loading="lazy"
                                                                                />
                                                                                </a>
                                                                        )}
                                                                        <a href={`/blog/${post.id}/`} class="block hover:text-[var(--accent)]">
                                                                                <h2 class="m-0 text-[rgb(var(--black))] text-2xl">
                                                                                {post.data.title}
                                                                                </h2>
                                                                        </a>
                                                                        <p class="mt-2 font-light text-[0.8em]">{post.data.description}</p>
                                                                        <p class="m-0 text-[rgb(var(--gray))] font-light text-sm">
                                                                                <FormattedDate date={post.data.pubDate} />
                                                                        </p>
                                                                </a>
                                                        </li>
                                                ))
                                        }
                                </ul>
                        </section>
                </main>
                <Footer />
        </body>
</html>
