---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';
import personalPhoto from '../assets/jorgetutor.jpg';
import photo1 from '../assets/2024-drupalcamp-spain-jorgetutor.jpg';
import photo2 from '../assets/2025-jorgetutor-agilecontracts.jpg';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <!-- Hero -->
    <section class="px-10 flex flex-col justify-center items-center py-5 min-h-screen bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
      <div class="max-w-[1280px] align-middle w-full">
        <h1 class="text-[32px] md:text-[46px] leading-snug md:leading-relaxed break-inside-avoid text-center mb-3 mt-0 font-extrabold">
          I make <br class="lg:hidden"/><span class="bg-black text-white px-3">tech management</span> easy for everyone.
        </h1>
        <p class="text-[#0e141b] leading-normal text-center font-extralight text-[24px] md:text-[32px]">
        Over 15 years in the trenches, leading complex digital projects.
        </p>
        <p class="text-[var(--accent)] leading-normal text-center font-extrabold text-[32px] md:text-[42px]">
          Lead with confidence
        </p>
      </div>
      <a href="#main" aria-label="Scroll to main content" class="mt-8 animate-bounce block">
        <svg class="w-8 h-8 text-[var(--accent)]" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5303 16.2803C12.2374 16.5732 11.7626 16.5732 11.4697 16.2803L3.96967 8.78033C3.67678 8.48744 3.67678 8.01256 3.96967 7.71967C4.26256 7.42678 4.73744 7.42678 5.03033 7.71967L12 14.6893L18.9697 7.71967C19.2626 7.42678 19.7374 7.42678 20.0303 7.71967C20.3232 8.01256 20.3232 8.48744 20.0303 8.78033L12.5303 16.2803Z" />
        </svg>
      </a>
    </section>

    <main id="main" class="max-w-[1920px] px-0 mx-auto">

      <!-- About Me Section -->
      <section>
        <div class="mx-auto max-w-screen-2xl px-1 sm:px-6 lg:px-8 py-8 ">
          <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
            <div class="p-2 md:p-12 lg:px-16 lg:py-24">
              <div class="mx-auto max-w-xl">
                <h2 class="text-2xl font-bold md:text-3xl">
                  Hi! I'm Jorge Tutor
                </h2>
                <p class="font-light">
                I’m a Software Engineer specialized in helping tech leaders and managers navigate complexity and achieve their full potential.
                </p>
                <p class="font-light">For over 15 years, my role has been <strong>turning technical challenges into reality</strong>. I’ve led complex digital projects and I’ve seen firsthand how talented managers can feel uncertain in the tech world, and how brilliant teams can get stuck in a cycle of delays and frustration.</p>
                <p class="font-light">As co-owner of Metadrop, one of <a class="underline underline-offset-4 font-light" href="https://metadrop.net">top Drupal Development & Consulting companies in Europe</a>, I've learned that if you want to lead with confidence <strong>you need a system</strong> to guide your experts, collaborate with clients, manage expectations, and deliver results. Those are the systems I share.</p>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
              <Image src={personalPhoto} alt="Jorge Tutor" class="lg:my-5 h-40 w-full object-cover sm:h-56 md:h-full" />
              <Image src={photo1} alt="Jorge Tutor" class="h-40 w-full object-cover sm:h-56 md:h-full" />
            </div>

          </div>
        </div>
      </section>

      <!-- Why Section -->
      <section class="text-white font-light px-4 sm:px-6 lg:px-8 bg-gradient-to-tr from-indigo-900  to-blue-600 py-16">
        <h2 class="text-center text-white lg:text-5xl">The modern tech landscape <br />is a difficult place to navigate</h2>
        <p class="py-5 font-extralight text-2xl text-center">It’s a world of hidden challenges that can undermine even the most capable leaders.</p>
        <div class="max-w-screen-xl mx-auto">
          <p>Do you ever feel that:</p>
          <ul class="list-disc p-2 md:p-5 grid sm:grid-cols-2 gap-x-14 sm:gap-y-2">
            <li>You’re not sure how to <strong>effectively lead a team</strong> of technical experts, even though you have strong management skills?</li>
            <li>You <strong>struggle to communicate</strong> with clients about technical issues, timelines, and budgets, leading to misunderstandings and frustration?</li>
            <li>You feel overwhelmed by the rapid pace of technological change and unsure how to keep your team <strong>aligned with business goals</strong>?</li>
            <li>You find it difficult to implement processes that <strong>improve predictability</strong> and reduce rework without stifling your team’s creativity?</li>
            <li>You’re unsure how to <strong>leverage new technologies like AI</strong> to benefit your team and clients, rather than getting distracted by the hype?</li>
            <li>You <strong>feel like an imposter</strong> in technical meetings, hesitant to challenge timelines because you’re worried you’ll ask the “wrong” question?</li>
            <li>You’re in a client meeting or a technical review, struggling to challenge estimations or manage expectations because you <strong>lack the specific tech knowledge</strong>?</li>
          </ul>
        </div>
        
        <p class="text-2xl font-extralight text-center py-10 my-5"><strong>The problem isn’t a lack of skill</strong>, but a lack of the right tools for this unique environment.</p>
      </section>

      <!-- Newsletter CTA Section -->
      <section id="newsletter" class="py-12 md:py-16 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
        <div class="container mx-auto px-6 text-center">
            <div class="fade-in-up">
                <h2 class="text-3xl md:text-4xl font-bold text-orange-600">Join My Weekly Newsletter</h2>
              </div>
              <div class="mt-12 max-w-screen-md mx-auto text-left fade-in-up font-light">
                <p class="mt-4 text-lg ">Each week, I send out one actionable email designed to be your toolkit for growth. No fluff. Just practical advice to make tech leadership more understandable, so you can walk into any meeting with confidence.</p>
                <p class="text-lg font-semibold mb-6">Join other tech managers and receive guidance on:</p>
                <ul class="grid md:grid-cols-2 gap-x-5 m-0">
                    <li class="flex items-center"><svg class="w-5 h-5 mr-3 flex-shrink-0" fill="orange" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>Asking the right questions.</li>
                    <li class="flex items-center"><svg class="w-5 h-5 mr-3 flex-shrink-0" fill="orange" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>Delegating effectively.</li>
                    <li class="flex items-center"><svg class="w-5 h-5 text-indigo-300 mr-3 flex-shrink-0" fill="orange" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>Managing client expectations.</li>
                    <li class="flex items-center"><svg class="w-5 h-5 text-indigo-300 mr-3 flex-shrink-0" fill="orange" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>Implementing simple processes.</li>
                      <li class="flex items-center"><svg class="w-5 h-5 text-indigo-300 mr-3 flex-shrink-0" fill="orange" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>Leveraging new technologies like AI.</li>
                </ul>
                <iframe src="https://jorgetutor.substack.com/embed" width="100%" height="300"></iframe>
            </div>
        </div>
      </section>

      <!-- The Path -->
      <section id="services" class="md:text-center bg-gradient-to-b from-gray-100  to-white md:pt-10">
        <h2 class="text-[var(--accent)] inline-block text-2x1 md:text-5xl md:text-center leading-normal md:leading-relaxed">
          A Practical Path To<br> Confident <span class="bg-[var(--accent)] text-white px-3">Leadership</span>
        </h2>
        <p class="max-w-screen-xl mx-auto leading-loose font-light text-2xl">You don’t need to be a coder to be a great tech leader.<br /> You need the clarity to ask the right questions and the systems to build a high-performing team.</p>
      </section>
      
      <!-- Services -->
      <section class="py-3 md:py-5">
        <div class="container mx-auto md:px-6">
          <div class="grid lg:grid-cols-2 gap-16 items-center">
            <div>
              <p class="font-extralight">Here is how I can <strong class="font-bold">help you</strong> on your journey:</p>
              <h3 class="text-[#111418] text-3x1 font-bold leading-tight tracking-[-0.015em] pb-3">Comprehensive Coaching Programs</h3>
              <p class="text-slate-600 text-lg mb-10">We offer a range of coaching services tailored to your specific needs and career aspirations. Whether you're looking to advance in your current role, transition to a new field, or enhance your leadership skills, we have a program for you.</p>
              <a href="https://www.linkedin.com/in/jorgetutor/" class="shadow-lg flex min-w-[84px] max-w-[260px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#1978e5] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] hover:text-white hover:bg-[#1669c1] transition-colors duration-200 no-underline"> 
                <svg class="inline-block mr-2" width="24px" height="24px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M17.0391667,17.0433333 L14.0775,17.0433333 L14.0775,12.4025 C14.0775,11.2958333 14.055,9.87166667 12.5341667,9.87166667 C10.99,9.87166667 10.7541667,11.0758333 10.7541667,12.3208333 L10.7541667,17.0433333 L7.7925,17.0433333 L7.7925,7.5 L10.6375,7.5 L10.6375,8.80083333 L10.6758333,8.80083333 C11.0733333,8.05083333 12.04,7.25916667 13.4841667,7.25916667 C16.485,7.25916667 17.04,9.23416667 17.04,11.805 L17.04,17.0433333 L17.0391667,17.0433333 Z M4.4475,6.19416667 C3.49416667,6.19416667 2.72833333,5.4225 2.72833333,4.47333333 C2.72833333,3.525 3.495,2.75416667 4.4475,2.75416667 C5.3975,2.75416667 6.1675,3.525 6.1675,4.47333333 C6.1675,5.4225 5.39666667,6.19416667 4.4475,6.19416667 Z M5.9325,17.0433333 L2.9625,17.0433333 L2.9625,7.5 L5.9325,7.5 L5.9325,17.0433333 Z M18.5208333,0 L1.47583333,0 C0.66,0 0,0.645 0,1.44083333 L0,18.5591667 C0,19.3558333 0.66,20 1.47583333,20 L18.5183333,20 C19.3333333,20 20,19.3558333 20,18.5591667 L20,1.44083333 C20,0.645 19.3333333,0 18.5183333,0 L18.5208333,0 Z"/>
            </svg>
              <span class="truncate">Contact me on LinkedIn</span>
            </a>
            </div>
            <div class="">
              <div class="shadow-lg rounded-lg border border-[#dbe0e6] bg-white p-4 flex-col my-5">
                <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="var(--accent)" viewBox="0 0 256 256">
                <path
                  d="M216,40H136V24a8,8,0,0,0-16,0V40H40A16,16,0,0,0,24,56V176a16,16,0,0,0,16,16H79.36L57.75,219a8,8,0,0,0,12.5,10l29.59-37h56.32l29.59,37a8,8,0,1,0,12.5-10l-21.61-27H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,136H40V56H216V176Z"
                  ></path>
                </svg>
                <h4 class="ml-3 inline-block text-[#111418] text-base font-bold leading-tight">1-on-1 Strategy for Leaders</h4>
                <p class="text-[#60758a] text-sm font-normal leading-normal">Strategy sessions focused on your <strong>own’s challenges</strong>. We’ll build your personal playbook for handling difficult client negotiations, making informed technical decisions, and taking care of your specific goals.</p>
              </div>

              <div class="shadow-lg rounded-lg border-white border-2 bg-white p-4 flex-col bg-gradient-to-tr from-[var(--accent)] to-indigo-800 text-white my-5">
                <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="white" viewBox="0 0 256 256">
                <path
                  d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                ></path>
                </svg>
                <h4 class="ml-3 inline-block text-white text-base font-bold leading-tight">Team Workshops</h4>
                <p class="text-white text-sm font-normal leading-normal">Hands-on sessions designed to <strong>align your team</strong> around shared goals, improve communication, and implement processes that enhance predictability and reduce rework. We’ll tackle your most pressing challenges together.</p>
              </div>

              <div class="shadow-lg rounded-lg border border-[#dbe0e6] bg-white p-4 flex-col my-5">
                <svg class="inline-block mr-3" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="var(--accent)" viewBox="0 0 256 256">
                  <path
                    d="M232,208a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V48a8,8,0,0,1,16,0v94.37L90.73,98a8,8,0,0,1,10.07-.38l58.81,44.11L218.73,90a8,8,0,1,1,10.54,12l-64,56a8,8,0,0,1-10.07.38L96.39,114.29,40,163.63V200H224A8,8,0,0,1,232,208Z"
                  ></path>
                </svg>
                <h2 class="inline-block text-[#111418] text-base font-bold leading-normal">Consultancy</h2>
                <p class="text-[#60758a] text-sm font-normal leading-normal">Get flexible consultancy designed for your project's unique needs, allowing you to go as deep as required to get results. Your team gains <strong>dedicated support</strong> through strategic guidance, hands-on leadership, or deep-dive problem-solving—all designed to deliver concrete outcomes and move your project forward.</p>
              </div>

            </div>
          </div>
        </div>
      </section>

      <!-- Testimonials -->
      <section id="testimonials" class="py-16 bg-gradient-to-b to-gray-100 from-white pt-3">
        <div class="container mx-auto md:px-6">
          <h2 class="text-2xl text-gray-500 font-light">Testimonials</h2>
          <div class="mt-3 grid lg:grid-cols-3 lg:gap-4 text-base font-light">
            <div class="mb-5">
              <p class="italic mb-2">"If today I feel a bit more confident in my technical skills, I definitely owe it also to the many exchanges we had together and to his flawless support."</p>
              <div class="text-right lg:text-left font-semibold text-slate-900 text-sm">Eros, IT Product Manager</div>
            </div>
            <div class="mb-5">
              <p class="italic mb-2">"The coaching I received was instrumental in helping me land my dream job at a leading tech company. The personalized guidance and support were invaluable."</p>
              <div class="text-right lg:text-left font-semibold text-slate-900 text-sm">Maria, Software Engineer</div>
            </div>
            <div class="mb-5">
              <p class="italic mb-2">"I highly recommend this coaching service to anyone looking to advance their tech career. The insights and strategies provided were practical and effective."</p>
              <div class="text-right lg:text-left font-semibold text-slate-900 text-sm">David, Product Manager</div>
            </div>
          </div>
        </div>
      </section>

      <!-- Featured Sessions -->
      <section>
        <div class="container mx-auto md:px-6">
          <h2 class="text-4xl text-gray-500 font-light">Professional Trajectory</h2>
          <p>If you are interested, you will find more complete information about achievements and certifications on my <a href="https://www.linkedin.com/in/jorgetutor/">LinkedIn profile</a>.</p>

          <h3>Featured Sessions</h3>
        
          <p class="mb-2 max-w-screen-lg font-light">I have been fortunate to speak at several <strong>international conferences</strong>, sharing my insights on software development, project management, and team leadership. Here are some of my featured sessions:</p>
  
          <ul class="grid lg:grid-cols-3 lg:gap-x-10 lg:gap-y-5 p-3 md:p-5 text-base font-light">
            <li>
              Effective Scope, Budget &amp; Change Request Management in Software Development - DrupalCamp 2024 - Benidorm, Spain. 
              <br /><a href="https://www.youtube.com/watch?v=KDJc4_YFL9c&amp;t=265s">Video</a> (<em>Spanish</em>) | <a href="https://docs.google.com/presentation/d/1iJHidM27ti31gj7j80hIw9OX2Fem-AlBr5E2l7WTeiM/preview">Slides</a> 
            </li>
            <li>
              Exploring Agile Contracts: Maximizing Collaboration and Value in Client Relationships  - DrupalCon Europe 2024 - Barcelona, Spain.
              <br /><a href="https://docs.google.com/presentation/d/1TnTD2RI1CtO-StSqy8irZSyMceU3OJMqWeaaOIL--Lg/preview">Slides</a>
            </li>
            <li>
              Strategies for Overcoming Common Software Development Challenges - A Management Perspective - DrupalCon Europe 2023 - Lille, France.
              <br /><a href="https://www.youtube.com/watch?v=6gMDCBqNSEk">Video</a> | <a href="https://docs.google.com/presentation/d/16wvKhUOWJHfmvxpg4CsNLqe2pSOhH14lQt90x7Dg_fA/preview">Slides</a>
            </li>
            <li>
              Managing Complexity: Best Practices for Software Development Project Managers  - DrupalCamp 2023 - Sevilla, Spain.
              <br /><a href="https://www.youtube.com/watch?v=eWWVIsDYpTw">Video</a> | <a href="https://docs.google.com/presentation/d/18mchru70PgRSYZP9Wk6xuz6JQIneVImFUtWmj3obeiU/preview">Slides</a>
            </li>
            <li>
              Self-Management in remote environments - DrupalCon Europe 2020 - Barcelona, Spain.
              <br /><a href="https://www.youtube.com/watch?v=0zax_kubN10">Video</a> | <a href="https://docs.google.com/presentation/d/1hRfan3ka7HpRg75bKDCYWEgdR7CcRMLn9GdDMbRBXw4/edit">Slides</a>
            </li>
            <li>
              Diving into Peopleware - DrupalDevDays 2019 - Transylvania, Romania.
              <br /><a href="https://www.youtube.com/watch?v=ze6zgpKOugQ">Video</a> | <a href="https://jorgetutor.github.io/2019-drupaldevdays-peopleware/#/">Slides</a>
            </li>
            <li>
              BDD: Behaviour Driven Development - DrupalCamp 2017 - Madrid, Spain.
              <br /><a href="https://www.youtube.com/watch?v=01mK_1Fn9Ts">Video</a> | <a href="https://jorgetutor.github.io/bdd-drupalcampes-2017/#/">Slides</a>
            </li>
          </ul>

        </div>
      </section>

      <!-- Featured Articles -->
      <section class="container pb-6 mx-auto md:px-6 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
          <h2 class="text-4xl text-gray-500 font-light md:text-center">Latests Blog posts</h2>
          <ul class="max-w-screen-xl mx-auto grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] list-none m-0 md:p-5 gap-10">
            {posts.slice(0,3).map((post) => (
              <li class="relative bg-white rounded-lg hover:shadow-md border p-5 hover:shadow-gray-300 transition-shadow duration-300 ease-in-out">

                {post.data.heroImage && (      
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                    class="mb-3 rounded-lg"
                    loading="lazy"
                  />
                )}

                <a href={`/blog/${post.id}/`} class="block hover:text-[var(--accent)]">
                  <h2 class="m-0 text-[rgb(var(--black))] text-2xl mb-3">
                  {post.data.title}
                  </h2>
                  <span class="absolute inset-0" aria-hidden="true"></span>
                </a>
                <p class="mt-2 font-light text-[0.8em]">{post.data.description}</p>
                <p class="m-0 text-[rgb(var(--gray))] font-light text-sm">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </li>
            ))}
            </ul>
      </section>



          </div>
        </div>
      </div>       
    </main>
    <Footer />
  </body>
</html>
